<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div class="info _site">
      <div class="inner">
        <div class="info_main">
          <h1 class="info_title"><i class="remixicon-archive-line"></i> 目前共计 <%- site.posts.length %> 篇创作</h1>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="inner">
        <%- include('./includes/post-list') %>

        <%- include('./includes/pagination') %>
      </div>
    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
